@import '../../Variables.scss';

#container-login {
    max-width: 400px;

    .recover-password {
        font-size: $font-12px;
        color: $color-link;
        padding: 8px 0;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    [type='submit'] {
        width: 100%;
    }

    .registration-link {
        display: flex;
        column-gap: 8px;
        margin-top: 20px;
        justify-content: center;
    }
}