@import '../../Variables.scss';

.input-number {
    display: inline-flex;
    border: 1px solid $color-border;
    width: 100px;
    border-radius: 5px;

    button {
        padding: 10px;
        font-size: $font-10px;
    }

    input {
        border-top: 0;
        border-bottom: 0;
        text-align: center;
        padding: 6px 0;

        &:focus {
            border-color: $color-border;
        }
    }
}