@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
@import '../Variables.scss';
// Reset
body, p, ul, h1, h2, h3, h4, h5, h6, address {
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-link;
}

a:hover {
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
}

input {
    font-family: inherit;
    margin: 0;
}

input:focus,
a:focus-visible,
select:focus {
    outline: none;
}


::placeholder,
.form-control::-webkit-input-placeholder {
    opacity: 1;
    color: inherit;
}

button {
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;

    &:active,
    &:not(:active) {
        border: 0;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

label {
    cursor: pointer;
}

select {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

// Bootstrap reset
.form-check {
    margin-bottom: 0;
    font-size: 0;
}

.form-check-input:checked {
    background: transparent;
    box-shadow: none;
    border: 0;
}

.form-check-input:focus {
    border-color: $color-border;
}

.form-check-input:focus,
.form-select:focus,
.btn-close:focus,
.accordion-button:focus,
.accordion-header,
.form-control:focus,
.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.form-control:focus,
.form-select:focus {
    border-color: $color-black-default;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit
}

.btn-close,
.accordion-item:last-of-type,
.form-control,
.form-select,
.btn {
    border-radius: 0;
}

.accordion-body {
    border-top: 1px solid $color-border;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='inherit'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

label,
.form-label {
    margin: 10px 0 0;
    font-weight: 500;
    font-size: $font-14px;
}

.form-control,
.form-select {
    font-size: $font-14px;
}

.form-select {
    height: 35px;
}

// Bolinhas do carousel
.carousel-indicators {
    margin-bottom: 0;

    [data-bs-target] {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        opacity: 0.85;
        border-width: 7px 10px;
    }

    .active {
        background-color: $color-primary;
    }
}

// Buttons
.btn {
    text-transform: uppercase;
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    height: 40px;
    box-sizing: border-box;
    transition: all 0.15s linear;
}

.btn-default {
    color: rgba(0,0,0,0.85);
    border: 1px solid #dedede;
}

.btn-primary {
    color: #fff;
    background: #f1625f;

    &:hover {
        background: darken(#f1625f, 10%);
    }

    &:focus, &:active {
        background: darken(#f1625f, 25%) !important;
    }
}

.btn-success {
    color: #fff;
    background: #419b18;

    &:hover {
        background: darken(#419b18, 5%);
    }
}

button.btn-outline-secondary {
    border: 2px solid $color-border;
}

// Inputs
[type='text'],
[type='email'],
[type='number'],
[type='date'] {
    border-color: $color-border;
    color: inherit;
}

.form-check-input[type="checkbox"],
[type="checkbox"],
[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 0;
    border: 0;

    &::before, 
    &::after {
        content:'';
        display: block;
        box-sizing: border-box;
        overflow: hidden;
        transition: all $transition-duration linear;
    }

    &::after {
        width: 100%;
        height: 100%;
        background: #fff;
        border: 1px solid $color-border;
    }

    &::before {
        width: 8px;
        height: 8px;
        position: absolute;
        left: 4px;
        top: 4px;
    }

    &:checked {

        &::before {
            background: $color-primary;
        }

        &::after {
            border-color: $color-primary;
        }
    }
}

[type="radio"] {

    &::before, 
    &::after {
        border-radius: 100%;
    }
}

select {
    transition: all 0.5s linear;
    border: 1px solid #dedede;
    height: 40px;
    padding: 0 10px;
}

.link {

    &:hover {
        color: $color-link;
        text-decoration: underline;
    }
}

label.required::after {
    content: '*';
    color: $color-danger;
    margin-left: 3px;
}