@import '../../Variables.scss';

#header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 2;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.05);

    .btn-menu-mobile {
        font-size: $font-20px;
        display: flex;

        svg {
            height: 30px;
        }
    }

    .bar-top {
        background: #f6f6f6;
        font-size: $font-12px;

        nav {
            display: none;

            svg {
                margin-right: 6px;
            }
        }
    }

    .dropdown-account {
        background: #fff;
        position: absolute;
        right: 0;
        border: 1px solid $color-border;
        text-align: left;
        z-index: 2;
        width: max-content;
        font-size: $font-13px;
        letter-spacing: 0.5px;
        color: rgba(0,0,0,0.65);
        padding: 0;

        a + a {
            border-top: 1px solid $color-border;
        }

        a {
            display: block;
            padding: 12px 15px;
            transition: all 0.15s linear;

            .fa {
                width: 17px;
                text-align: center;
                margin-right: 3px;
                transition: all 0.15s linear;
            }
            
            &:hover {
                color: #000;
            }
        }

        // Seta
        $arrow-width: 5px;
        $arrow-height: 5px;

        &::before,
        &::after {
            content: '';
            display: block;
            border-width: $arrow-height $arrow-width;
            border-style: solid;
            border-color: transparent transparent #fff;
            position: absolute;
            top: -($arrow-height * 2);
            right: 10px;
            cursor: pointer;
        }

        &::before {
            border-width: ($arrow-height + 1) ($arrow-width + 1);
            top: -(($arrow-height * 2) + 2);
            right: 9px;
            border-color: transparent transparent $color-border;
        }
    }

    .bar-middle {
        padding: 15px 0;
        position: relative;
        background: #fff;
        
        .container {
            display: grid;
            grid-template-columns: max-content auto 0 max-content max-content;
            align-items: center;
            grid-column-gap: $column-gap;
            max-width: none;
        }

        .logo {

            a {
                display: inline-block;
            }

            img {
                max-height: 34px;
                vertical-align: middle;
            }
        }

        [data-target="#header-search"] {

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .cart, 
        .favorites {
            position: relative;
            display: flex;
        }

        .cart {
            margin-right: 4px;
        }

        .favorites {
            display: none;
        }

        .quantity {
            $size: 20px;

            background: $color-primary;
            border-radius: 100%;
            text-align: center;
            color: #fff;
            width: $size;
            height: $size;
            position: absolute;
            top: -6px;
            right: -10px;
            font: 400 #{$font-10px}/#{$size} $font-primary;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media all and (min-width: $breakpoint-medium) {

    #header {

        .bar-middle {

            .container {
                grid-template-columns: max-content max-content auto max-content max-content;
                grid-column-gap: $column-gap * 2;
            }

            [data-target="#header-search"] {
                display: none;
            }

            .favorites {
                display: flex;
                align-items: center;
                line-height: 30px;

                svg {
                    float: right;
                    margin-left: 5px;
                }
            }
        }
    }
}


@media all and (min-width: $breakpoint-large) {

    #header {

        .bar-top {

            .dropdown-account-btn {
                border: 0;
                background: transparent;
                padding: 0;
                text-transform: none;
                color: rgba(0,0,0);
            }

            .container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
            }

            nav {
                display: block;
                text-align: right;
                grid-column: 3;
    
                > ul > li {
                    position: relative;
                    display: inline-block;
    
                    + li {
                        margin-left: 20px;
                    }
    
                    > a {
                        display: inline-block;
        
                        .fa {
                            margin-right: 3px;
                        }
                    }
                }
            }
        }

        .bar-middle {
            padding: 20px 0;

            .container {
                grid-template-columns: max-content auto max-content max-content;
                max-width: $container-large;

                .column {
                    grid-row: 1;

                    &:first-child {
                        display: none;
                    }
                }
            }

            .logo img {
                max-height: 40px;
            }
        }

        .bar-bottom {
            position: relative;
            background: $color-primary;
        }
    }
}

@media all and (min-width: $breakpoint-extralarge) {

    #header .bar-middle .container {
        max-width: $container-extralarge;
    }
}