@import '../../Variables.scss';

#dropdown-menu-mobile {

    .close-menu {
        position: fixed;
        top: 0;
        left: 300px;
        padding: 15px;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: all .25s linear;
        
        svg {
            width: 24px;
            height: 24px;
        }
    }

    .dropdown-menu {
        border-radius: 0;
        padding: 0;
        position: fixed !important;
        top: 0;
        left: -300px !important;
        bottom: 0 !important;
        transform: none !important;
        width: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;
        display: block;
        transition: left .25s linear;

        &::after {
            content: '';
            display: block;
            background-color: rgba(0,0,0,0.8);
            position: fixed;
            top: 0;
            left: -300px;
            bottom: 0;
            z-index: -1;
            transition: left .25s linear;
        }

        &.show {
            left: 0 !important;

            &::after {
                left: 300px;
                right: 0;
            }

            .close-menu {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .dropdown-toggle {
        padding: 0;

        &::after {
            display: none;
        }
    }

    .dropdown-item {
        padding: 15px;
        background-color: #fff;
        
        + .dropdown-item {
            border-top: 1px solid $color-border;
        }

        &:focus,
        &:hover {
            background-color: $color-primary;
            color: #fff;
        }
    }
    
    .dropdown-item-accordion {
        padding: 0;
    }

    svg {
        margin-right: 10px;
    }

    .accordion-header {
        padding: 15px;
    }
    
    .accordion-item {
        border: 0;
    }
    
    .accordion-button {
        padding: 0;
    }

    .accordion-body {
        padding: 5px 0;
        border: 0;
        background-color: $color-border;
        
        a {
            display: block;
            color: inherit;
            padding: 10px 15px;
        }
    }

    .dropdown-divider {
        margin: 0;
        border-top: 4px solid $color-border;
    }
}