@import '../../Variables.scss';

#header-search {
    position: absolute;
    z-index: 2;
    top: 64px;
    left: 0;
    right: 0;
    background:  #fff;
    max-height: 0;
    transition: max-height $transition-duration linear;
    overflow: hidden;

    &.active {
        max-height: 50px;
    }

    form {
        font-size: 0;
    }

    .input {
        width: 100%;
        border-color: transparent;
        background: rgba(0,0,0,0.05);
        height: 50px;
        border-radius: 0;
    }

    .btn {
        position: absolute;
        top: 2px;
        right: 0;
        height: 50px;

        svg {
            height: 18px;
        }
    }
}

@media all and (min-width: $breakpoint-medium) {

    #open-search-mobile,
    #close-search-mobile {
        display: none;
    }

    #header-search {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        background: transparent;
        max-height: none;

        .input {
            height: 40px;
            border-color: $color-border;
            background: #fff;
            border-radius: $form-radius;
        }

        .btn {
            height: 40px;
        }
    }
}