@import '../Variables.scss';

#back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: -50px;
    right: 10px;
    background-color: $color-black-default;
    color: #fff;
    transition: all $transition-duration linear;
}

@media all and (min-width: $breakpoint-medium) {

    #back-to-top.active {
        z-index: 1;
        bottom: 10px;

        &:hover {
            background-color: #000;
        }
    }
}