@import '../Variables.scss';

#brands-carousel {

    .slick-slider {
        padding: 0 30px;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        line-height: 0;
        font-size: 30px;
    }

    .slick-prev {
        left: 0;
        padding-right: 10px;
    }
    
    .slick-next {
        right: 0;
        padding-left: 10px;
    }

    .slick-slide > div {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &:hover a {
            opacity: 0.5;
        }

        a {
            border: 1px solid $color-black-default;
            border-radius: 100%;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .15s linear;
            
            &:hover {
                opacity: 1;
            }
        }
        
        img {
            max-width: 50px;
            max-height: 50px;
        }
    }
}

@media all and (min-width: $breakpoint-medium) {

    #brands-carousel {

        .slick-slider {
            padding: 0 45px;
        }

        .slick-slide > div {
    
            a {
                width: 100px;
                height: 100px;
            }
        }
    }
}