@import '../Variables.scss';

.page-title {
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-bottom: 15px;

    h1 {
        font-size: $font-20px;
        font-weight: 300;
    }
}

@media all and (min-width: $breakpoint-medium) {
    .page-title {
        padding: 40px 0;
        margin-bottom: 25px;
    }
}