@import '../Variables.scss';

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $column-gap;
    grid-row-gap: $column-gap;
    font-size: $font-16px;

    a {
        color: $color-black-default;
    }

    li {
        position: relative;
        transition: background $transition-duration linear;
        padding-bottom: 15px;

        &:hover {
            background-color: #eceef0;
        }
    }

    img {
        aspect-ratio: 1/1;
    }

    .title {
        font-size: $font-14px;
        font-weight: 400;
        padding: 10px 10px 5px;
        letter-spacing: .5px;
    }
    
    .price {
        margin-right: 3px;
        color: $color-success;
        font-weight: 500;
        padding: 0 10px;
    }
    
    .old-price {
        text-decoration: line-through;
        color: #999;
        font-size: $font-14px;
    }
    
    .discount {
        position: absolute;
        top: 8px;
        right: 0;
        color: #fff;
        padding: 2px 8px;
        background-color: $color-black-default;
        font-size: $font-12px;
    }
}

@media all and (min-width: $breakpoint-medium) {

    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}