@import '../../Variables.scss';

[class*="icon-"] {
    background-image: url('~/public/sprite.png');
    display: block;
    width: 44px;
    height: 35px;
}

.icon-amex {
    background-position: 0px -70px;
}

.icon-boleto {
    background-position: -44px -70px;
}

.icon-diners {
    background-position: -108px 0px;
}

.icon-elo {
    background-position: -108px -35px;
}

.icon-google-security {
    background-position: 0px -35px;
    width: 100px;
    height: 35px;
}

.icon-hipercard {
    background-position: -108px -70px;
}

.icon-mastercard {
    background-position: 0px -105px;
}

.icon-pix {
    background-position: -44px -105px;
}

.icon-ssl-security {
    background-position: 0px 0px;
    width: 108px;
    height: 35px;
}

.icon-visa {
    background-position: -88px -105px;
}

// Footer
$space-vertical: 20px;

#footer {
    background: rgba(0, 0, 0, 0.015);
    border-top: 1px solid $color-border;
    text-align: center;
    margin-top: 50px;

    .bar-top {
        padding: 0;

        .container {
            padding: 0;
        }
    }

    .site-map {
        font-size: $font-16px;

        .column-social {
            display: none;
        }

        .accordion-button {
            background-color: transparent;
            text-align: center;
            padding: $column-gap;
        }
        
        .accordion-item {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid $color-border;
        }

        h2,
        .accordion-button {
            font-weight: 600;
            text-transform: $capitalization;
            letter-spacing: 0.25px;
            font-size: inherit;
            position: relative;
            display: block;

            &::after {
                position: absolute;
                right: $column-gap;
                top: 15px;
            }
            
            .accordion-body {
                border: 0;
                padding: 0;
            }
        }

        .list {

            a {
                font-size: inherit;
                line-height: $font-24px;
            }
        }

        // .column {
        //     padding: 13px 0;
        //     border-bottom: 1px solid $color-border;
        // }
    }
    
    .bar-social {
        padding: 15px 0;
        border-bottom: 1px solid $color-border;
    }

    .bar-middle {
        padding: $column-gap 0;
    }
        
    .payments {
        padding-bottom: $column-gap;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        grid-column-gap: 5px;
        grid-row-gap: 5px;

        .icon {
            background-color: #f4f4f4;
        }
    }

    .security {
        padding-bottom: $column-gap;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        grid-column-gap: 20px;
    }

    .developed {
        font-size: $font-12px;
        margin: 0 (-$column-gap);
        border-top: 1px solid $color-border;
        padding-top: $column-gap;

        &:first-line {
            font-size: $font-10px;
        }
    }

    .bar-bottom {
        border-top: 1px solid $color-border;
        padding: $column-gap 0;

        .address,
        p {
            font-size: $font-12px;
        }
    }
}

@media all and (min-width: $breakpoint-small) {

    #footer {

        .bar-top .container {
            max-width: none;
        }
        
        .bar-middle {
            
            .container {
                max-width: none;
                display: grid;
                grid-template-columns: 2;
                align-items: center;
            }

            .security {
                margin: 0;
            }

            .developed {
                grid-column: 1 / 3;
            }
        }
    }
}

@media all and (min-width: $breakpoint-medium) {

    #footer {

        > [class*="bar-"] {
            padding: 20px 0;
        }

        .site-map {
            grid-column-gap: $column-gap * 2;
            font-size: $font-14px;
            
            .accordion {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .collapse {
                    display: block;
                }

                .accordion-button {
                    cursor: text;
                    padding-top: 0;

                    &::after {
                        display: none;
                    }
                }

                .accordion-item {
                    border-bottom: 0;
                }

                .accordion-body {
                    border-top: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }

        .bar-social {
            border-top: 1px solid $color-border;
        }

        .bar-middle {

            >.container {
                grid-template-columns: repeat(3, max-content);
                justify-content: space-around;
            }

            .payments,
            .security {
                padding: 0;
            }

            .developed {
                margin: 0;
                padding: 0;
                border: 0;
                min-width: 105px;
                grid-column: auto;
            }
        }
    }
}

@media all and (min-width: $breakpoint-large) {

    #footer {

        >[class*="bar-"] {
            padding: 30px 0;
        }

        .bar-top .container,
        .bar-middle .container {
            max-width: $container-large;
            padding: 0 $column-gap;
        }

        .bar-top {
            border-bottom: 1px solid $color-border;
        }

        .bar-middle > .container {
            justify-content: space-between;
        }

        .site-map {
            grid-column-gap: 0;
            display: grid;
            grid-template-columns: 3fr 1fr;
            text-align: left;

            .accordion {
                grid-template-columns: repeat(3, 1fr);
            }

            .accordion-button,
            .accordion-body {
                text-align: left;
                padding-left: 0;
                padding-right: 0;
            }

            .column-social {
                display: block;
                
                .social {
                    font-size: $font-20px;
                    margin-top: 10px;
                }
    
                li+li {
                    margin-left: 8px;
                }
            }
        }

        .bar-social {
            display: none;
        }

        .payments {
            display: flex;
        }
    }
}

@media all and (min-width: $breakpoint-extralarge) {

    #footer {

        .bar-top {

            .container {
                max-width: $container-extralarge;
            }
        }

        .bar-middle {

            .container {
                max-width: $container-extralarge;
            }
        }
    }
}